/* ==========================================================================
   GENERIC STYLES
   ========================================================================== */

html {
/* 	-webkit-font-smoothing: antialiased; */
}

body {
	  background: #424b51;
}

h1 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;

}

h2 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	color: #bebebe;
	padding-bottom: 50px;

}

h3 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
}

h4 {
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
}

h5 {
	font-size: 16px;
	font-weight: 700;
}

h6 {
	font-size: 13px;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 1px;
}

p {
	font-family: "Merriweather", Arial, serif;
	color: #555;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: transparent;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.navbar {
	min-width: 320px;
	z-index: 100;
	width: 100%;
	border: none;
	background: transparent;
	box-shadow: none;
	position: absolute;
}

.navbar-default .navbar-brand{
	font-family: "Lato", Arial;
	font-weight: 300;
	font-size: 35px;
	padding: 8px 0 0 100px;
}

.navbar-inner {
	text-transform: uppercase;
	padding-top: 50px;
	border: none;
	background: transparent;
	box-shadow: none;
	position: relative;
}

.navbar .nav li a {
	background-size: 35px;
	padding: 23px 16px 24px 16px;
	border-radius: 100px;
	margin: 0 10px;
	opacity: 1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	color: transparent;
}

.navbar .nav li a:visited {
	color: transparent;
}

.navbar .nav li a:link {
	color: transparent;
}


.navbar .nav li a:hover {
	opacity: .5;
	color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  float: right;
}

.navbar-default .navbar-collapse {
 overflow-x: hidden;
}

.navbar-right {
	margin-right: 30px;

}

.branding {
	padding: 6px;
}

span {
    color: #fff;
    overflow: hidden;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition-delay: 0.2s;
    height: 35px;
}

.ernando {
    color: #fff;
    width: 178px;
}

.oelho {
    color: #fff;
    width: 120px;
}

span.hidden {
    width: 0px;
    opacity: 0;
}

/* ==========================================================================
   CONTENT
   ========================================================================== */
.container {
	width: 100%;
	text-align: center;
}




/* ==========================================================================
	FEATURED
   ========================================================================== */
.feature {
	background: url(../img/bg5.jpg) no-repeat fixed center;
	background-size: cover;
	padding-top: 200px;
	height: 800px;
}

.headline {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 400;
	font-size: 7em;
	line-height: 1em;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	left: 0;
	right: 0;
	padding-top: 100px;
}

/* ==========================================================================
	WHO
   ========================================================================== */
.who {
	position: relative;
	background: url(../img/struckaxiom.png) repeat center;
	background-size: 80px;
	padding: 50px;
	height: auto;
	background-position-y: 39px;
	background-position-y: 2.4375rem;
	font-size: 1.3em;
}

.who p {
	line-height:  2.5em;
}




/* ==========================================================================
	HOW
   ========================================================================== */
.how {
	position: relative;
	background: url(../img/how.jpg) no-repeat fixed center;
	background-size: cover;
	padding-top: 50px;
	height: auto;
}
.how h2 {
	color: #555;
}



/* ==========================================================================
	WORK
   ========================================================================== */
.work {
	position: relative;
	background: url(../img/webdev.png) repeat-x center;
	height: 400px;
	font-size: 1.3em;
}

.well {
	background: transparent;
	border: none;
	box-shadow: none;
	text-align: center;
	color: #fff;
	padding: 250px 0 145px 0; padding: 13.375rem 0 10.0625rem 0;
}
.well p {
	color: rgba(255, 255, 255, .5);
}

.research {
	background: url("../img/ven.png") no-repeat center top;
}

.research.well{
	margin-left: 50px;
}

.design {
	background: url("../img/rectangle.png") no-repeat center top;
}

.refine {
	background: url("../img/triangle.png") no-repeat center top;
}




/* ==========================================================================
	FOOTER
   ========================================================================== */
.footer {
	height: auto;
	padding-top: 30px;
	background: url(../img/bg-footer.png) no-repeat fixed center;
	background-size: cover;
	color: #aaa;

}
.footer div {
	margin: 60px auto;
}

.footer ul {
	margin-left: -30px;
}

.footer li {
	display: inline;
	list-style: none;
}

.footer a {
	padding: 23px 32px 24px 32px;
	border-radius: 100px;
	margin: 0 20px;
	opacity: .5;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}


.facebook {
	background: transparent url(../img/social/facebook.png) center no-repeat;
	border: 3px solid rgba(255, 255, 255, 0);
}

.facebook:hover, .twitter:hover, .behance:hover,
.instagram:hover, .linkedin:hover, .email:hover, 
.github:hover {
	opacity: 1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.twitter {
	background: transparent url(../img/social/twitter.png) center no-repeat;
}

.instagram {
	background: transparent url(../img/social/instagram.png) center no-repeat;
}

.behance {
	background: transparent url(../img/social/behance.png) center no-repeat;
	background-size: 32px;
}

.instagram {
	background: transparent url(../img/social/instagram.png) center no-repeat;
}

.github {
	background: transparent url(../img/social/github.png) center no-repeat;
	background-size: 32px;
}

.linkedin {
	background: transparent url(../img/social/linkedin.png) center no-repeat;
	background-size: 32px;
}

.email {
	background: transparent url(../img/social/paperplane.png) center no-repeat;
}

footer {
	padding: 20px;
	background: transparent;
	text-align: center;
}

.footer a {
	text-decoration: none;
	color: #aaa;
	transition: color 0.2s ease;
}

.footer a:hover {
	color: #318ec3;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */

@media (max-width: 992px){
	.navbar-default .navbar-brand{
		font-size: 28px;
	}

	.ernando {
	    color: #fff;
	    width: 140px;
	}
	.oelho {
	    color: #fff;
	    width: 100px;
	}

	.headline {
		font-size: 6em;
		text-align: center;
		left: 0;
		right: 0;
	}
	.headline2 {
		font-size: 6em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline3 {
	   font-size: 6em;
	   text-align: center;
	   left: 0;
	   right: 0;
	}

	.how {
		height: auto;
	}

	.footer {
		height: auto;
	}
}

@media (max-width: 768px){
	.navbar-inner {
		padding-top: 0;
	}

	.navbar-default .navbar-brand{
		color: #fff;
		font-family: "Lato", Arial;
		font-weight: 100;
		font-size: 40px;
		background: none;
		padding-left: 10px;
	}

	.navbar-default .navbar-brand{
		font-size: 28px;
	}

	.navbar .nav {
		width: 100%; 
	}

	.navbar .nav li {
		background: rgba(255, 255, 255, 0.3);
	}

	.navbar .nav li a {
		color: white;
		background: none;
	}

	.navbar .nav li a:hover {
		color: white;
		opacity: 1;
		background: none;
	}
	.navbar .nav li a:c

	.headline {
		font-size: 5em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline2 {
		font-size: 5em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline3 {
	   font-size: 5em;
	   text-align: center;
	   left: 0;
	   right: 0;
	}

	.how {
		height: auto;
	}

	.footer {
		height: auto;
	}

	.footer li {
		display: block;
		margin-top: 40px;

	}
}

@media (max-width: 640px){
	.navbar-inner {
		padding-top: 0;
	}

	.navbar-default .navbar-brand{
		font-size: 28px;
	}

	.headline {
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline2 {
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline3 {
	   font-size: 4em;
	   text-align: center;
	   left: 0;
	   right: 0;
	}

	.how {
		height: auto;
	}

	.footer {
		height: auto;
	}

	.footer li {
		margin-top: 40px;
		display: block;
	}
}

@media (max-width: 480px){
	.navbar-inner {
		padding-top: 0;
	}

	.navbar-default .navbar-brand{
		font-size: 20px;
		font-weight: 300;
	}

	.feature {
		padding-top: 150px;
	}

	.headline {
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline2 {
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.headline3 {
	   font-size: 4em;
	   text-align: center;
	   left: 0;
	   right: 0;
	}

	.research.well{
		margin-left: 0px;
	}

	.how {
		height: auto;
	}
	.research.well{
		margin-left: 0px;
	}

	.footer {
		height: auto;
	}
}