/* ==========================================================================
   GENERIC STYLES
   ========================================================================== */

html {
/* 	-webkit-font-smoothing: antialiased; */
    height:100%;
	width: 100%;

}

body {
	  background: #666666;
      min-height:100%;
}

h1 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;

}

h2 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #bebebe;
	padding-bottom: 50px;

}

h3 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
}

h4 {
	font-size: 19px;
	font-weight: 700;

}

h5 {
	font-size: 16px;
	font-weight: 700;
}

h6 {
	font-size: 13px;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 1px;
}

p {
	font-family: "Merriweather", Arial, serif;
	color: #d1936e;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: transparent;
}

.btncells.disabled,
.btncells[disabled],
fieldset[disabled] .btncells-primary,
.btncells-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btncells-primary[disabled].active,
fieldset[disabled] .btncells-primary.active {
	background-color: transparent;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.navbar {
	min-width: 320px;
	z-index: 100;
	width: 100%;
	border: none;
	background: transparent;
	box-shadow: none;
	position: absolute;
}

.navbar-default .navbar-brand{
	font-family: "Lato", Arial;
	font-weight: 300;
	font-size: 35px;
	padding: 8px 0 0 100px;
}

.navbar-inner {
	text-transform: uppercase;
	padding-top: 50px;
	border: none;
	background: transparent;
	box-shadow: none;
	position: relative;
}

.navbar .nav li a {
	font-size: 18px;
	padding: 23px 16px 24px 16px;
	border-radius: 100px;
	margin: 0 10px;
	opacity: 1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	color: #fff;
}

.navbar .nav li a:hover {
	opacity: .5;
	color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
  float: right;
}

.navbar-default .navbar-collapse {
 overflow-x: hidden;
}

.navbar-right {
	margin-right: 30px;

}

.branding {
	padding: 6px;
}

span {
    color: #fff;
    overflow: hidden;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition-delay: 0.2s;
    height: 35px;
}

.ernando {
    color: #fff;
    width: 178px;
}

.oelho {
    color: #fff;
    width: 120px;
}

span.hidden {
    width: 0px;
    opacity: 0;
}

/* ==========================================================================
   CONTENT
   ========================================================================== */
.container {
	background: transparent;
	width: 100%;
	text-align: center;
}
.container.content {
	background: transparent;
	text-align: center;
	z-index: 10;
}

/* = FEATURED =============================================================== */
.feature.box {
	background: #d1936e url(../img/bg.jpg) no-repeat center fixed;
	background-size: auto 110%;
	padding-top: 10%;
	height: 100vh;
	padding-top: 200px;
	-webkit-transition-property: height background-size;
  	-webkit-transition-duration: .5s;
  	-webkit-transition-timing-function: ease;
  	transition-property: height background-size;
  	transition-duration: .5s;
  	transition-timing-function: ease;
  	z-index: 9;
}

.feature.box1 {
	background: #d1936e url(../img/bg.jpg) no-repeat center fixed;
	background-size: auto 110%;
	padding-top: 10%;
	height: 90vh;
	padding-top: 200px;
	-webkit-transition-property: height background-size;
  	-webkit-transition-duration: .1s;
  	-webkit-transition-timing-function: ease;
  	transition-property: height background-size;
  	transition-duration: 1s;
  	transition-timing-function: ease;
  	z-index: 10;
}


.feature h3 {
	color: #fff;
	font-weight: 100;
}

.headline {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 700;
	font-size: 4em;
	line-height: 1.2em;
	letter-spacing: .05em;
	text-align: center;
	color: #fff;
	left: 0;
	right: 0;
	padding-top: 50px;
}

span.glyphicon-chevron-down {
	
	margin-top: 30px;
	padding: 8px 0 0 2px;
	font-size: 30px;
	text-align: center;
	border: 5px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

/* = Globo Mais  =============================================================== */

.globoMais {
	-webkit-box-shadow: 0px -36px 152px 48px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -36px 152px 48px rgba(0,0,0,0.3);
	box-shadow: 0px -36px 152px 48px rgba(0,0,0,0.3);
	position: relative;
	background: #2d77bd url(../img/hand-side.png) no-repeat right;
	background-position: 100% 95%;
	background-size: 768px;		
	height: 100vh;
	padding: 50px;
	font-size: 1.3em;
	z-index: 10;
}

.globoMais:after {
	content: "";
	position: relative;
	top: 93%;
	left: -66px;
	height: 15%;
	width: 100vw;
	background: #013754;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	transform: rotate(2deg);
}

.contentgloboMais{
	text-align: left;
	padding-top: 100px;
	margin-left: -150px;
	position: absolute;
    top: 50%;
	right: 50%;		

}

.globoMais h1 {
	font-size: 38px;
	color: #fff;
	font-weight: bolder;
}

.globoMais p {
	line-height: 2em;
	font-family: "Lato";
	font-weight: 300;
	color: #fff;
}

.btn {
  display: inline-block;
  font-size: 0.733em;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato";
  color: #fff;
}

span.glyphicon-chevron-right {
  font-size: 0.733em;
	padding: 23px 0 0 0;
	font-weight: 100;
}

.year {
  opacity: 0.66;
}

.cta {
	margin-left: -10px;
}


/* = BRASASummer  =============================================================== */

.brasaSummer {
	position: relative;
	background: #013754 url(../img/brasasummer-side.png) no-repeat right;
	background-size: 768px;		
	height: 100vh;
	padding: 50px;
	font-size: 1.3em;
	z-index: 10;
}

.brasaSummer:after {
	content: "";
	position: relative;
	top: 98%;
	left: -66px;
	height: 15%;
	width: 100vw;
	background: #00aeef;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	transform: rotate(2deg);
}

.contentBrasaSummer{
	text-align: left;
	padding-top: 100px;
	margin-left: -150px;
	position: absolute;
    top: 50%;
	right: 50%;		

}

.brasaSummer h1 {
	font-size: 38px;
	color: #fff;
	font-weight: bolder;
}

.brasaSummer p {
	line-height: 2em;
	font-family: "Lato";
	font-weight: 300;
	color: #fff;
}

.btn {
  display: inline-block;
  font-size: 0.733em;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato";
  color: #fff;
}

span.glyphicon-chevron-right {
  font-size: 0.733em;
	padding: 23px 0 0 0;
	font-weight: 100;
}

.year {
  opacity: 0.66;
}

.cta {
	margin-left: -10px;
}


/* = BRASA  =============================================================== */

.brasa {
	position: relative;
	background: #00aeef url(../img/brasa-side.png) no-repeat right;
	background-size: 768px;	
	height: 100vh;
	font-size: 1.3em;
	z-index: 10;
}

.brasa:after {	
	content: "";
	position: relative;
	top: 93%;
	left: -15px;
	height: 15%;
	width: 100vw;
	background: #fff;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	transform: rotate(2deg);
}

.contentBrasa{
	text-align: left;
	padding-top: 100px;
	margin-left: -150px;
	position: absolute;
    top: 50%;
	right: 50%;
}


.brasa h1 {
	font-size: 38px;
	color: #fff;
	font-weight: bolder;
}

.brasa p {
	line-height: 2em;
	font-family: "Lato";
	font-weight: 300;
	color: #fff;
}

.btn {
  display: inline-block;
  font-size: 0.733em;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato";
  color: #fff;
}

span.glyphicon-chevron-right {
  font-size: 0.733em;
	padding: 23px 0 0 0;
	font-weight: 100;
}

.year {
  opacity: 0.66;
}

.cta {
	margin-left: -10px;
}

/* = CELLS =============================================================== */

.cells {
	position: relative;
	background: transparent url(../img/cells-side2.jpg) no-repeat center;
	background-size: 100% auto;
	height: 110vh;
	font-size: 1.3em;
	z-index: 10;
}

.contentCells {
	text-align: left;
	padding-top: 100px;
	margin-left: -150px;
	position: absolute;
    top: 50%;
	right: 50%;		
}

.cells:after {
	content: "";
	position: relative;
	top: 93%;
	left: -15px;
	height: 15%;
	width: 100vw;
	background: #666666;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	transform: rotate(2deg);
}

.contentCells span.under, .contentCells span.year {
	color: #555;
}

.cells h1 {
	font-size: 38px;
	color: #61b977;
	font-weight: 700;
}

.cells p {
	line-height: 2em;
	font-family: "Lato";
	font-weight: 300;
}

.btncells {
  display: inline-block;
  font-size: 0.733em;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato";
  color: #61b977;
}

.btncells[hover] {
  display: inline-block;
  font-size: 0.733em;
  line-height: 1.6;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato";
  color: #61b977;
}


/* ==========================================================================
	FOOTER
   ========================================================================== */

.footer {
	height: 35vh;
	position: relative;
	color: #aaa;
	background-color: #666666;
	z-index: 10;
}

.footer div {
	margin: 60px auto;
}

.footer-wrapper ul {
	margin-left: -30px;
}

.footer-wrapper li {
	display: inline;
	list-style: none;
}

.footer-wrapper a {
	padding: 23px 32px 24px 32px;
	border-radius: 100px;
	margin: 0 20px;
	opacity: .5;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}


.facebook {
	background: transparent url(../img/social/facebook.png) center no-repeat;
	border: 3px solid rgba(255, 255, 255, 0);
}

.facebook:hover, .twitter:hover, .behance:hover,
.instagram:hover, .linkedin:hover, .email:hover, 
.github:hover {
	opacity: 1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.twitter {
	background: transparent url(../img/social/twitter.png) center no-repeat;
}

.instagram {
	background: transparent url(../img/social/instagram.png) center no-repeat;
}

.behance {
	background: transparent url(../img/social/behance.png) center no-repeat;
	background-size: 32px;
}

.instagram {
	background: transparent url(../img/social/instagram.png) center no-repeat;
}

.github {
	background: transparent url(../img/social/github.png) center no-repeat;
	background-size: 32px;
}

.linkedin {
	background: transparent url(../img/social/linkedin.png) center no-repeat;
	background-size: 32px;
}

.email {
	background: transparent url(../img/social/paperplane.png) center no-repeat;
}

.footer-wrapper br
  {
    clear: left;
  } 

footer {
	padding-top:2%;
	text-align: center;
}

.footer-wrapper a {
	text-decoration: none;
	color: #aaa;
	transition: color 0.2s ease;
}

.footer-wrapper a:hover {
	color: #318ec3;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* ==========================================================================
	MEDIA QUERIES
   ========================================================================== */

@media (max-width: 992px){
	.navbar-default .navbar-brand {
		font-size: 28px;
	}

	.ernando {
	    color: #fff;
	    width: 140px;
	}
	
	.oelho {
	    color: #fff;
	    width: 100px;
	}

	.headline {
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
		margin-top: 50px;
	}
		
	.contentBrasaSummer {
		text-align: left;
		position: static;
		margin-left: -10%; 
		top: 50%;
		height: 60%;
		width: 100%;
		}

	.contentCells {
		text-align: left;
		position: static;
		margin-left: -10%; 
		top: 50%;
		height: 60%;
		width: 100%;
	}

.contentBrasa {
		text-align: left;
		position: static;
		margin-left: -10%; 
		top: 50%;
		height: 60%;
		width: 100%;
	}
	.footer {
		height: auto;
		width: auto;
	}
	
		.footer h4 {
			padding-bottom: 3%;
		}

}

@media (max-width: 768px){

	.navbar-default .navbar-brand{
		color: #fff;
		font-family: "Lato", Arial;
		font-weight: 100;
		font-size: 40px;
		background: none;
		padding-left: 10px;
	}

		.navbar-inner {
			padding-top: 0;
		}
	
		.navbar-default .navbar-brand{
			font-size: 28px;
		}
	
		.navbar .nav {
			width: 100%; 
		}
	
		.navbar .nav li {
			background: rgba(255, 255, 255, 0.3);
		}
	
		.navbar .nav li a {
			color: white;
			background: none;
		}
	
		.navbar .nav li a:hover {
			color: white;
			opacity: 1;
			background: none;
		}

	.headline {
		margin-top: -300px;
		font-size: 4em;
		margin-top: -10px;
		text-align: center;
		left: 0;
		right: 0;
	}
	
	.brasaSummer {
		background:#013754  url(../img/brasasummer-mobile2.png) no-repeat top center;
		background-size: 600px;
		height: 100%;
	}

		.contentBrasaSummer {
			padding-top: 350px;
			text-align: center;
			position: static;
			margin-left: 0; 
			top: 50%;
			height: auto;
			width: auto;
		}

	.brasa {
		background: #00aeef url(../img/brasa-mobile2.png) no-repeat top center;
		background-size: 600px;
		height: auto;

	}
	
		.contentBrasa {
			padding-top: 350px;
			text-align: center;
			position: static;
			margin-left: 0; 
			top: 50%;
			height: 60%;
			width: 100%;
		}
	
	.cells {
		background: #fff url(../img/cells-mobile.jpg) no-repeat top center;
		background-size: 600px;
		height: auto;
		}
	
		.contentCells {
			padding-top: 350px;
			text-align: center;
			position: static;
			margin-left: 0; 
			top: 50%;
			height: 60%;
			width: 100%;
		}
		
	.footer {
		height: auto;
		width: 100%;
	}
	
	.footer li {
		display: inline;
		float: left;
		margin: 30px 0 30px 0;
		width: 33%;
	}	
}

@media (max-width: 640px){
	.navbar-inner {
		padding-top: 0;
	}

	.navbar-default .navbar-brand{
		font-size: 28px;
	}

	.headline {
		margin-top: -60px;
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
	}
		
	.feature {
		height: auto;
	}
		
	span {
			overflow: visible;
	}
	.feature h3 {
		display: none;
	}

	
	span.glyphicon-chevron-down {
		margin-top: 0;
		margin-bottom: 10px;
	}
	
	.contentBrasa {
		padding-top: 80%;
  	}
	
	.contentCells {
		padding-top: 60%;
	}


	.brasa {
		background-size: 100%;
		height: auto;
	}
	
	.brasa h1 {
		font-size: 24px;
		color: #fff;
		font-weight: bolder;
	}
	
	.brasa p {
		line-height: 2em;
		font-family: "Lato";
		font-weight: 300;
		color: #fff;
	}
	
	.cells h1 {
	font-size: 24px;
	color: #61b977;
	font-weight: 700;
	}
	
	.cells p {
		line-height: 2em;
		font-family: "Lato";
		font-weight: 300;
	}
	
	.footer {
		height: auto;
	}
	
	.footer {
		height: auto;
		width: auto;
	}

	.footer li {
		margin-top: 40px;
		display: block;
	}
}

@media (max-width: 480px){
	.navbar-inner {
		padding-top: 0;
	}

	.navbar-default .navbar-brand{
		font-size: 20px;
		font-weight: 300;
	}

	.headline {
		margin-top: -60px;
		font-size: 4em;
		text-align: center;
		left: 0;
		right: 0;
	}

	.feature {
		height: auto;
	}

	span.glyphicon-chevron-down {
		margin-top: 0; 
		margin-bottom: 10px;
	}

	.brasa {
		background-size: 100%;
		height: auto;
	}
	.brasa h1 {
		font-size: 24px;
		color: #fff;
		font-weight: bolder;
	}
	
	.brasa p {
		line-height: 2em;
		font-family: "Lato";
		font-weight: 300;
		color: #fff;
	}
	
	
	.cells h1 {
		font-size: 24px;
		color: #61b977;
		font-weight: 700;
	}
	
	.cells p {
		line-height: 2em;
		font-family: "Lato";
		font-weight: 300;
	}
	
	.footer {
		height: auto;
		width: auto;
	}
}

@media (max-width: 360){
		
	.footer {
		height: auto;
		width: auto;
	}
	.footer a {
		margin: 0;
		padding: 0;
		border: 0;
	}
}