doctype html
html
    head
        title Fernando coelho
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name="theme-color" content="#d1936e")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic' rel='stylesheet' type='text/css')
    body
        .container
            .wrapper.-heading
                .heading
                    img.logo(src="img/name/fernando2.svg", alt="")

            .wrapper.-headline
                p.headline I’m a front end developer currently coding at 
                    a.link(href="http://www.hugeinc.com/contactus/rio-de-janeiro") Huge Rio
                    |.

            ul.links
                li.link-item
                    a.social.-github(href="http://github.com/nandoacoelho") github
                li.link-item
                    a.social.-behance(href="http://behance.net/nandoacoelho") behance
                li.link-item
                    a.social.-linkedin(href="http://linkedin.com/in/nandoacoelho") linkedin
                li.link-item
                    a.social.-medium(href="https://medium.com/@nandoacoelho") medium
                li.link-item
                    a.social.-instagram(href="http://instagram.com/nandoacoelho") instagram
                li.link-item
                    a.social.-twitter(href="http://twitter.com/nandoacoelho") twitter

        script(type="text/javascript", src="js/main.js")
