main-color = white

body
    background-image url(../img/bg.jpg)
    background-attachment fixed
    background-size auto 100%
    background-position bottom
    background-color black
    color main-color
    animation fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards
