.experience-list {
  color: var(--color-4);
}

.item {
  border-bottom: 1px solid var(--color-4);
}

.item:first-child {
  border-top: 2px solid var(--color-4);
}

.button {
  cursor: pointer;
  color: var(--color-1);
  background: conic-gradient(var(--color-5) 0 0) top/100% 100% no-repeat;
  transition: 0.2s;
}

.button:hover {
  color: var(--color-5);
  background-size: 100% 0%;
  transition: 0.2s;
}
