.hero {
  color: var(--color-4);
  opacity: 0;

  &.animate {
    animation-duration: 0.85s;
  }

  & .name {
    color: var(--color-5);
  }

  .link {
    position: relative;

    & span {
      display: inline-block;
      color: var(--color-5);
      transform: translateY(0);
      transition: 0.2s;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 4px;
      bottom: 8px;
      left: 0;
      background-color: var(--color-3);
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }

    &:hover span {
      color: var(--color-3);
      transform: translateY(-4px);
      transition: 0.2s;
    }
  }

  .line-wrapper {
    opacity: 0;
    transform: translateY(20px);
    display: block;
  }

  .line-wrapper.animate-line {
    animation: lineSlideIn 0.65s cubic-bezier(0.46, 0.03, 0.52, 0.96) forwards;
  }
}

@keyframes lineSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
